.question {
  max-width: 100%;
}

.question--title {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  color: #293264;
  overflow-wrap: normal;
  margin: 0.5em 0;
}

.answers {
  min-width: none;
  max-width: 70%;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  gap: 2% 1em;
}

.answers > * {
  margin: 0.5em 0;
}

.question--separator {
  margin: 1.5em 0;
  border: 1px solid #dbdef0;
}
