.answer {
	min-width: 12%;
	min-height: 2em;
	box-sizing: border-box;
	border-radius: 0.75em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
	user-select: none;
}

.answer__paragraph {
	margin: 0;
	padding: 0.25em 1em;
	font-style: normal;
	font-weight: 500;
	font-size: 1em;
	text-align: center;
	color: #293264;
}
